@model IEnumerable<CinemaWeb.Areas.Admin.Models.GheModel>

@{
    ViewData["Title"] = "Index";
}

<!-- Tiêu đề-->
<div class="card text-center">
    <div class="card-header">
        <h2>Quản lý ghế ngồi trong phòng chiếu</h2>
    </div>
</div>
<!-- Hết tiêu đề-->
<div class="row">
    <!-- Tìm kiếm-->
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-header">
                <h4 class="modal-title">Tìm sơ đồ ghế theo phòng</h4>
            </div>
            <div class="card-body">
                <form asp-action="Index">
                    <select name="search" id="search" class="form-control" asp-items="ViewBag.MaPhong"></select>
                    <button style="margin-top:10px" class="btn btn-outline-primary col-md-12">Tìm</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Hết tìm kiếm-->
    <!-- Danh sách ghế-->
    <div class="col-md-8">
        @{ if (ViewData["TenPhong"] != null)
            {
                <div class="card text-center">
                    <div class="card-header">
                        <h4 class="modal-title">Sơ đồ ghế phòng @ViewData["TenPhong"]</h4>
                    </div>
                    <div class="card-body">
                        @foreach (var item in Model)
                        {
                        <button id="@item.MaGhe" name="btn_update_stt" data-id="@item.MaGhe" data-stt="@(item.TrangThai == true ?0:1)"
                                style="background: @(item.TrangThai != true?"red":""); margin-bottom:4px; width: 35px; height: 35px"
                                class="btn btn-outline-info btn-sm">
                            @Html.DisplayFor(modelItem => item.TenGhe)
                        </button>
                        }
                    </div>
                </div>
            }
        }
    </div>
    <!-- Hết danh sách ghế-->
</div>
<!-- Tập lệnh-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $('button[name=btn_update_stt').click(function () {
        var id = $(this).attr('data-id');
        var stt = ($(this).attr('data-stt') == 0 ? false : true);
        $.ajax({
            method: "POST",
            url: "../api/Ghe_API/UpdateStatus/",
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify({ "ma": id, "stt": stt })
        })
            .done(function (msg) {
                if (msg == '0') {
                    alert('Cập nhật thất bại');
                }
                else {
                    var r = JSON.parse(msg);
                    if (r.stt == 'True') {
                        document.getElementById(id).style.background= "";
                        $('button[name=btn_update_stt][data-id=' + r.id + ']').attr("data-stt", "0");
                    }
                    else {
                        document.getElementById(id).style.background= "red";
                        $('button[name=btn_update_stt][data-id=' + r.id + ']').attr("data-stt", "1");
                    }
                    alert('Cập nhật thành công');
                }
            });
    })
    </script>
}
<!-- Hết tập lệnh-->