@model CinemaWeb.Areas.Admin.Models.LichChieuModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details Lịch Chiếu</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mã Lịch Chiếu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaLichChieu)
        </dd>
        <dt class="col-sm-2">
            Ngày Chiếu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayChieu)
        </dd>
        <dt class="col-sm-2">
            Thời Gian
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>
        <dt class="col-sm-2">
            Mã Phim
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.maphim.TenPhim)
        </dd>
        <dt class="col-sm-2">
            Mã Phòng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.maphong.MaPhong)
        </dd>
        <dt class="col-sm-2">
            Số Ghế Trống
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoGheTrong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaLichChieu" class="btn btn-success">Edit</a>
    <form asp-action="Delete" asp-route-id="@Model.MaLichChieu" style="margin:10px 0 10px 0">
        <input type="hidden" asp-for="MaLichChieu" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <a asp-action="Index">Back to List</a>
</div>

