@model IEnumerable<CinemaWeb.Areas.Admin.Models.LichChieuModel>

@{
    ViewData["Title"] = "Index";
}
<!--Tiêu đề-->
<div class="card text-center">
    <div class="card-header">
        <h2>Quản lý lịch chiếu phim</h2>
    </div>
</div>
<!--Hết tiêu đề-->
<!--Thông báo-->
@{
    if (TempData["Message"] != null)
    {
        @section Modal{
            <div class="modal" tabindex="-1" role="dialog" id="modal-sieu-cap-vip-pro">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p>@TempData["Message"]</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
<!--Hết thông báo-->
<div class="card text-center">
    <div class="card-header">
        <!--Button thêm, form tìm kiếm-->
        <div class='row'>
            <div class="col-md-4">
                <div>
                    <a asp-action="AddOrEdit" class='btn btn-outline-primary'>Tạo mới</a>
                </div>
            </div>
            <div class="col-md-8">
                <form asp-action="Index">
                    <div class="input-group">
                        <input type="text" name="SearchString" value="@ViewData["Search"]" class="form-control" placeholder='Nhập tên phim để tìm' />
                        <select class="form-select" name="SearchStatus">
                            <option value="" selected>Tất cả trạng thái</option>
                            <option value="false">Kết thúc</option>
                            <option value="true">Hoạt động</option>
                        </select>
                        <input class="btn btn-outline-info" type="submit" value="Tìm kiếm" />
                        <a class="btn btn-outline-secondary" asp-action="index">X</a>
                    </div>
                </form>
            </div>
        </div>
        <!--Hết button thêm, form tìm kiếm-->
    </div>
    <div class="card-body">
        <!--Nội dung-->
        <table class="table table-success table-striped">
            <thead>
                <tr style='text-align:center'>
                    <th>
                        Mã
                    </th>
                    <th>
                        Phim
                    </th>
                    <th>
                        Phòng
                    </th>
                    <th>
                        Ngày
                    </th>
                    <th>
                        Thời gian
                    </th>
                    <th>
                        Số ghế trống
                    </th>
                    <th>
                        Trạng thái
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style='text-align:center'>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaLichChieu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.maphim.TenPhim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.maphong.MaPhong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayChieu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThoiGian)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoGheTrong)/180
                        </td>
                        <td name="td_update_stt" data-id="@item.MaLichChieu">
                            @{
                                if (item.TrangThai == true)
                                {
                                    @:Hoạt động
                                }
                                else
                                {
                                    @:Kết thúc
                                }
                            }
                        </td>
                        <td style='text-align:left'>
                            <a asp-action="AddOrEdit" asp-route-id="@item.MaLichChieu" class="btn btn-outline-info">Chỉnh sửa</a>
                            <button class="btn btn-outline-warning" name="btn_update_stt" data-id="@item.MaLichChieu" data-stt="@(item.TrangThai == true ?0:1)">
                                @{if (item.TrangThai == true)
                                    {
                                        @:Huỷ
                                    }
                                    else
                                    {
                                        @:Mở
                                    }
                                }
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!--Hết nội dung-->
    </div>
    <div class="card-footer text-muted">
    </div>
</div>
<!--Tập Lệnh-->
@section Scripts{
    <script>
        $('button[name=btn_update_stt').click(function () {
            var id = $(this).attr('data-id');
            var soghe = $(this).attr('data-soghe');
            var stt = ($(this).attr('data-stt') == 0 ? false : true);
            $.ajax({
                method: "POST",
                url: "../api/LichChieu_API/UpdateStatus/",
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify({ "ma": id, "stt": stt })
            })
                .done(function (msg) {
                    if (msg == '0') {
                        alert('Cập nhật thất bại');
                    }
                    else {
                        var r = JSON.parse(msg);
                        if (r.stt == 'True') {
                            $('button[name=btn_update_stt][data-id=' + r.id + ']').html('Huỷ');
                            $('button[name=btn_update_stt][data-id=' + r.id + ']').attr("data-stt", "0");
                            $('td[name=td_update_stt][data-id=' + r.id + ']').html('Hoạt động');
                        }
                        else {
                            $('button[name=btn_update_stt][data-id=' + r.id + ']').html('Mở');
                            $('button[name=btn_update_stt][data-id=' + r.id + ']').attr("data-stt", "1");
                            $('td[name=td_update_stt][data-id=' + r.id + ']').html('Kết thúc');
                        }
                        alert('Cập nhật thành công');
                    }
                });
        })
    </script>
    <script>
        $('#modal-sieu-cap-vip-pro').modal('show');
    </script>
}
<!--Hết tập Lệnh-->
