    @model IEnumerable<CinemaWeb.Areas.Admin.Models.LichChieuModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index Lịch Chiếu</h1>

<p>
    <div class='row'>

        <div class="col-md-4">
            <div style='margin: 10px 0 0px 0'>
                <a asp-action="Create" class='btn btn-primary'>Create New</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class='form-group' style='margin: 10px 0 0px 0'>
                <input type="search" class="form-control" placeholder='Nhập để tìm'>
            </div>
        </div>
    </div>
</p>
<table class="table">
    <thead>
        <tr style='text-align:center'>
            <th>
                Mã Lịch Chiếu
            </th>
            <th>
                Ngày Chiếu
            </th>
            <th>
                Thời Gian
            </th>
            <th>
                Mã Phim
            </th>
            <th>
                Mã Phòng
            </th>
            <th>
                Số Ghế Trống
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model){
        <tr style='text-align:center'>
            <td>
                @Html.DisplayFor(modelItem => item.MaLichChieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayChieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maphim.TenPhim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maphong.MaPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoGheTrong)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MaLichChieu" class='btn btn-info'>Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
